body {
	margin-top: 1.0em;
	background-color: #fff;
  font-family: "helvetica"; 
	color: #000;
}

#container {
  margin: 0 auto;
  width: 700px;
}

h1 {
	font-size: 3.8em;
	color: #555;
	margin-bottom: 3px;
}

h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #555; }
h3 { text-align: center; color: #555; }
a { color: #555; }
.download { float: right; }

.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
	font-style: italic;
}

pre {
	background: #fff;
	color: #555;
	padding: 15px;
}

hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa
}

.footer {
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}

.forkme {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
